:root.light {
  --background:     #F5F5F5;
  --background-dim: #D0D0D0;
  --foreground:     #1B1B1B;
  --foreground-dim: #404040;
  --accent:         #EE3030;
  --accent-dim:     #E02020;
  --accent-bright:  #F04040;
  --border:         #494949;
}